* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

#root {
  padding: 1vw;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0 1%;
}
li a {
  display: flex;
  justify-content: normal;
  align-items: center;
  width: 100%;
  height: 100%;
  color: black;
}
li:hover {
  background-color: antiquewhite;
}

.info {
  margin-left: 1vw;
}
li strong {
  display: block;
  margin-bottom: 1vw;
  font-size: 18px;
}